
.projetos__section{
    height: auto;
    justify-content: center;
    padding: 0% 3%;
}

.projetos__section__titulo{
    background: var(--orange-gradient);
    background-clip: text;
    color: transparent;
    font-weight: 800;
    font-size: 35px;
    text-align: center;
    margin-bottom: 5%;
    padding: 1rem;
}

.projeto__container{
    margin-top: 3%;
    padding: 0px 30px;
    height: 100vh;
    display: flex;
    gap: 1rem;
    color: var(--primary-color);
}
.projeto__banner img{
    border-radius: 1.25rem;
}

.projeto__conateiner__info{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.projeto__techs{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: var(--orange-gradient);
    background-clip: text;
    color: transparent;
    margin-bottom: 0.45rem;
}
.projeto__techs img{
    height: 1.75rem;
}

.projeto__conateiner__info p{
    max-width: 30rem;
    line-height: 1.2rem;
}
.projeto__buttons{
    margin-top: 3%;
    cursor: pointer;
}
.projeto__buttons a{
    font-weight: 600;
    font-size: 17px;
    border: 4px solid var(--primary-color);
    border-radius: 3.125rem;
}
.projeto__buttons button{
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
    border: 4px solid var(--primary-color);
    border-radius: 3.125rem;
}
.projeto__btn1{
    padding: 10px 30px;
    background-color: var(--primary-color);
    color: var(--background-color);
}
.projeto__btn2{
    padding: 11px 31px;
    background-color: var(--background-color);
    color: var(--primary-color);
}

.projeto__container__reverse{
    justify-content: right;
    display: flex;
    flex-direction: row-reverse;
    padding: 0px 30px;
    height: auto;
    color: var(--primary-color);
    gap: 1rem;
}

.projeto__conateiner__info #project__reverse__text{
    margin-bottom: 25%;
  }

.modal__wrapper {
    display: none;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.modal{
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 3rem;
    background: var(--card-color);
    position: relative;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
}

.modal-content {
    display: grid;
    background-color: var(--background-color);
    margin: 18% auto;
    padding: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 1.2rem;
    width: 45%;
    gap: 1.5rem;
    justify-content: center;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    color: var(--primary-color);
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #9A33FF;
    text-decoration: none;
    cursor: pointer;
}

.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}



.swiper-wrapper {
    display: flex;
    transition-property: transform;
}

.swiper-slide {
    flex: 0 0 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.swiper-slide img{
    width: 350px;
    height: 200px;
}


.swiper-button-prev,
.swiper-button-next {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.swiper-pagination-bullet {
    background-color: #fff;
    width: 10px;
    height: 10px;
    margin: 0 5px;
}

.swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 0.5);
}
.modal__descricao{
    color: var(--primary-color);
}