
.tecnologias__section{
    display: grid;
    justify-content: center;
    text-align: center;
}

.tecnologias__conteiner{
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.tecnologias__titulo{
    letter-spacing: .5rem;
    color: var(--secondary-text);
    font-size: 20px;
    font-weight: 400;
    margin-top: 0.15rem;
    margin-bottom: 2rem;
}

.tecnologias__ul{
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    padding: 0px;
}

.tecnologias__ul__li img{
    width: 1.75rem;
    height: 1.75rem;
}
